<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dobots.swarmcontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/swarmcontrol_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".SwarmControlActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:keepScreenOn="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.dobots.utility.DeviceListActivity"
			android:label="@string/select_device"
			android:screenOrientation="portrait" 
			android:theme="@android:style/Theme.Dialog"
			android:configChanges="keyboardHidden|orientation">
		</activity>
		<activity android:name="org.dobots.swarmcontrol.robots.RobotDevice"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".robots.roomba.RoombaRobot"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".robots.finch.FinchRobot"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".robots.nxt.NXTRobot"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".behaviours.Dancing"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".behaviours.dancing.DancingMain"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".behaviours.dancing.RobotList"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".behaviours.dancing.DanceList"
			android:screenOrientation="portrait" ></activity>
		<activity android:name=".behaviours.dancing.MultiRobotControl"
		    android:screenOrientation="portrait" ></activity>
		<activity android:name="org.dobots.chat.ChatClient"></activity>
		<activity android:name=".robots.dotty.DottyRobot"
		    android:screenOrientation="portrait" ></activity>
    </application>

</manifest>